{% extends 'base.html' %}

{% block navbar %}
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid d-flex justify-content-center">
          <a class="navbar-brand fw-bolder fs-3 p-0" href="#">AaHhhhhh! Stupid!</a>
        </div>
      </nav>
{% endblock  %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center vh-100 text-center">
    <b>Wait... Logging out? But you’ve never even logged in! Bravo, you’ve reached the height of <br> non-achievement!</b>
</div>
{% endblock  %}